@charset "UTF-8";
:root {
  --clr-red: 354, 65%, 51%;
  --clr-orange: 13, 62%, 61%;
  --clr-white-tr: 0, 0%, 96%;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul {
  list-style-type: none;
}

body {
  background-image: url(https://www.prf.cuni.cz/themes/custom/fsv_uk/images/tile.png);
  background-size: 24px;
  background-color: hsl(var(--clr-white-tr));
}

h1,
h2,
h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.description .content,
.description .footer {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.description .content {
  font-size: 1.2rem;
  line-height: 1.7rem;
}

.description .footer {
  line-height: 2rem;
}

.page {
  display: block;
  max-width: 1024px;
  margin: 0 auto;
  background-color: white;
}

.header {
  border-bottom: 5px solid hsl(var(--clr-red));
  min-height: 500px;
  display: flex;
  background-image: linear-gradient(to left, white 20%, rgba(255, 255, 255, 0.5) 70%), url("../src/image/foto-min-min.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.header .logo {
  max-height: 350px;
  margin-left: auto;
}

footer {
  margin: 2rem 0;
}

.description {
  padding: 2em;
  padding-bottom: 0;
}
.description .content {
  max-width: 85%;
}
.description h1 {
  color: hsl(var(--clr-red));
}

.description .footer {
  margin: 0;
  margin-top: 1em;
  padding: 1.5em 1.5em 1.5em 0;
}
.description .footer h2 {
  margin: 0;
  margin-bottom: 1em;
  font-size: 1.3rem;
  color: hsl(var(--clr-orange));
}

.podcast {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0 1rem;
}
.podcast h3 {
  width: 100%;
  margin-bottom: 2rem;
}
.podcast--description {
  max-width: 50%;
  line-height: 1.7rem;
  font-family: Calibri, Arial;
}
.podcast--iframe {
  max-width: calc(50% - 1rem);
}

.podcast-feed {
  padding: 0 2rem 1rem 2rem;
}

.button-box {
  display: flex;
  gap: 1em;
  padding: 0;
}

.button {
  display: flex;
  justify-content: center;
  background-color: white;
  color: hsl(var(--clr-orange));
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.2em 1em;
  border: 1.5px solid hsl(var(--clr-orange));
  transition: all 250ms;
}
.button:hover {
  border: 1.5px solid hsl(var(--clr-red));
  background-color: hsl(var(--clr-red));
  color: white;
}
.button::after {
  content: "";
  padding-left: 0.5em;
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  font-size: 1.6rem;
  display: inline-block;
}
