@use "../abstract" as *;

.description {
  //   padding: 2em;
  padding-bottom: 0;

  .content {
    max-width: 85%;
    padding-inline: 2em;

    @include mq(mobile) {
      max-width: 100%;
    }
  }

  h1 {
    color: hsl(var(--clr-red));
    padding: 1em 2em 0 2em;
  }
}
