.podcast {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0 1rem;

  h3 {
    width: 100%;
    margin-bottom: 2rem;
  }

  &--description {
    max-width: 50%;
    line-height: 1.7rem;
    font-family: Calibri, Arial;
  }
  &--iframe {
    max-width: calc(50% - 1rem);
  }
}
