.podcast-platforms {
  margin: 2.5em 0;
  padding: 2em;
  background-color: hsl(var(--clr-orange), 50%);

  h2 {
    margin: 0;
    margin-bottom: 1em;
    font-size: 1.3rem;
    color: hsl(var(--clr-red));
  }
}
