h1,
h2,
h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.description .content,
.podcast-platforms,
.footer {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.description .content {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.podcast-platforms {
  line-height: 2rem;
}

.episode--description {
  line-height: 1.8rem;
  font-family: Calibri, Arial;
  font-size: 1.2rem;
}
