h1,
h2,
h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.description .content,
.description .footer {
  line-height: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
