@use "../abstract" as *;

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2em 0;
  padding-inline: 2em;

  .copyrights {
    line-height: 2rem;
  }

  .logo--pf-uk {
    max-width: 350px;
    height: auto;

    @include mq(mobile) {
      max-width: 100%;
    }
  }

  @include mq(mobile) {
    flex-direction: column;
    margin-bottom: 0;
  }
}
